<app-header [titulo] = "'Buscador de Restaurantes'">

</app-header>

<app-footer>

</app-footer>

<table class="table table-striped mt-5">
  <div class="container table-bordered table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ubicación</th>
      <th scope="col">Colonia</th>
      <th scope="col">Calle</th>
      <th scope="col">Telefono</th>
      <th scope="col">Sitio Web</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let datos of restaurantes; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{datos.Nombre}}</td>
      <td>{{datos.Ubicacion}}</td>
      <td>{{datos.Colonia}}</td>
      <td>{{datos.Calle}}</td>
      <td>{{datos.Telefono}}</td>
      <td>{{datos.Sitio_internet}}</td>
    </tr>

  </tbody>
</div>
</table>
